<h1>Play-Periodically Leader Board!</h1>
<p>Remeber! low Score is the best!</p>
<div id="score-leader-board" >
<% @scores.each do |score| %>
    <li> missed-matches: <%= score.value %> User: <%= User.find(score.user_id).email %> </li>
  </ul>
<% end %>
</div>
