<h2>Leader Board</h2>
<p><em>fewest missed is best!</em></p>
<div id="score-leader-board" >
<% @scores.each do |score| %>
    <li> User: <%= User.find(score.user_id).email %> only missed: <%= score.value %> </li>
  </ul>
<% end %>
</div>
