<div id="homepage-text-content"class="row">
  <div id="explination-container" class="col-md-6">
  <h3><strong> How to play:</strong></h3>
  <p>This is all about memory - the less missed the better!</p>
  </div>
  <div id="score-board-container" class="col-md-6">
  <h3><strong>Missed Matches:</strong></h3>
  <p id="score-board"></p>
  </div>
</div>

<div id="dialog-you-got-it"> you matched all the elements!</div>
<div id="dialog-please-sign-in"> Please Sign in - if you want to save your scores!</div>

<div id="game-board"></div>
<div id="table-container"><svg id="periodic-table" width="1300" height="620" viewBox="0 0 1300 600"></svg></div>
<script>playPeriodically.newBoard(playPeriodically.gameArray);</script>
<script>playPeriodically.periodicTableViz();</script>
