<h1>Play-Periodically!</h1>

<h2>Score:</h2>
<div id="score-board"> </div>

<div id="game-board"></div>
<div id="table-container"><svg id="periodic-table" width="1010" height="625" viewBox="0 0 1010 625"></svg></div>

<script>playPeriodically.newBoard();</script>
<script>playPeriodically.periodicTableViz();</script>

