

<div id="explination-container">
<h3><strong> How to play:</strong></h3>
<p>This is all about memory - low Score is the best</p>
<p>Match the cards the least number of flips!</p>
<p>As you go - explore the Periodic Table.</p>
</div>

<div id="dialog-you-got-it"> you matched all the elements!</div>
<div id="dialog-please-sign-in"> Please Sign in - if you want to save your scores!</div>

<div id="score-board-container">
<h3>Number of Missed Matches:</h3>
<div id="score-board"></div>
</div>

<div id="game-board"></div>
<div id="table-container"><svg id="periodic-table" width="1300" height="620" viewBox="0 0 1300 600"></svg></div>

<script>playPeriodically.newBoard();</script>
<script>playPeriodically.periodicTableViz();</script>
