<h1>Play-Periodically!</h1>
<p>This is all about memory - low Score is the best</p>
<p>Match the cards the least number of flips!</p>
<p>As you go - explore the Periodic Table.</p>

<h2>Score:</h2>
<div id="score-board"></div>

<div id="game-board"></div>
<div id="table-container"><svg id="periodic-table" width="1300" height="620" viewBox="0 0 1300 600"></svg></div>

<script>playPeriodically.newBoard();</script>
<script>playPeriodically.periodicTableViz();</script>

