<h1>Play-Periodically!</h1>

<h2>Score:</h2>
<div id="score-board"> </div>

<div id="game-board"></div>
<div id="table-container"><svg id="periodic-table"></svg></div>
<script>playPeriodically.newBoard();</script>

