/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap";

body{
  font-family: Helvetica, Arial, Sans-Serif;
  background: white;
  color:#808080;
  padding: 5%;
  text-align: center;
}

.navbar {
  height: 80px;
}

.navbar-brand {
  padding: 30px 30px;
}

.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-nav.navbar-right:last-child {
  padding-right: 30px;
}

#game-board{
  background: #D4F3E9;
  border: #9DC9BB 1px solid;
  border-radius: 20px;
  width:810px;
  height:540px;
  margin:0px auto;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0px auto;
  padding-top: 25px;
}

#game-board > div{
  text-align:center;
  background-image: image-url('logo.png');
  background-size: 100%;
  border:#9DC9BB 1px solid;
  border-radius: 20px;
  width:100px;
  height:100px;
  float:left;
  margin:10px;
  padding:10px;
  font-size:64px;
  cursor:pointer;
  text-align:center;
}

#game-board > div.flipped {
  background-image: image-url('logo.png');
  background-size: 100%;
}

#game-board > div.flipped-over {
  background-color: white;
}

#table-container {
  position:absolute ;
  left:50% ;
  margin-left: -600px;
  padding-bottom: 100px;
}

#game-board > div.flipped-over.element_H {
  background-image: image-url('hydrogen.png');
  background-size: 100%;
  border:#EDF46E 5px solid;
  border-radius: 20px;
}

#game-board > div.flipped-over.element_He {
  background-image: image-url('helium.png');
  background-size: 100%;
  border:#56BCDD 5px solid;
  border-radius: 20px;
}

#game-board > div.flipped-over.element_C {
  background-image: image-url('carbon.png');
  background-size: 100%;
  border:#FF573D 5px solid;
  border-radius: 20px;
}

#game-board > div.flipped-over.element_N {
  background-image: image-url('nitrogen.png');
  background-size: 100%;
  border:#FF573D 5px solid;
  border-radius: 20px;
}

#game-board > div.flipped-over.element_Ne {
  background-image: image-url('neon.png');
  background-size: 100%;
  border:#56BCDD 5px solid;
  border-radius: 20px;
}

#game-board > div.flipped-over.element_P {
  background-image: image-url('phosphorus.png');
  background-size: 100%;
  border:#FF573D 5px solid;
  border-radius: 20px;
}

#game-board > div.flipped-over.element_Si {
  background-image: image-url('silicon.png');
  background-size: 100%;
  border:#B9C5B9 5px solid;
  border-radius: 20px;
}

#game-board > div.flipped-over.element_Li {
  background-image: image-url('lithium.png');
  background-size: 100%;
  border:#56dda4 5px solid;
  border-radius: 20px;
}


#game-board > div.flipped-over.element_Mg {
  background-image: image-url('magnesium.png');
  background-size: 100%;
  border:#b6dd56 5px solid;
  border-radius: 20px;
}

#game-board > div.flipped-over.element_O {
  background-image: image-url('oxygen.png');
  background-size: 100%;
  border:#FF573D 5px solid;
  border-radius: 20px;
}

#game-board > div.flipped-over.element_B {
  background-image: image-url('boron.png');
  background-size: 100%;
  border:#B9C5B9 5px solid;
  border-radius: 20px;
}

#game-board > div.flipped-over.element_Na {
  background-image: image-url('sodium.png');
  background-size: 100%;
  border:#56dda4 5px solid;
  border-radius: 20px;
}

.matched > rect{
  stroke: black;
  stroke-width: 4px;
}
