/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
  font-family: Helvetica, Arial, Sans-Serif;
  background: white;
  color:#808080;
  padding: 5%;
}

#container{
  width:1000px;
  margin:auto;
}

p{
  margin:0px;
}

#game-board{
  background: pink;
  border: red 1px solid;
  width:800px;
  height:540px;
  padding:24px;
  margin:0px auto;
}

#game-board > div{
  background-image: image-url('/assets/argon.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border:purple 1px solid;
  width:70px;
  height:70px;
  float:left;
  margin:10px;
  padding:20px;
  font-size:64px;
  cursor:pointer;
  text-align:center;
}

#game-board > div.flipped-over.element_H {
  background-image: image-url('hydrogen.png');
}

#game-board > div.flipped-over.element_He {
  background-image: image-url('helium.png');
}

#game-board > div.flipped-over.element_C {
  background-image: image-url('carbon.png');
}

#game-board > div.flipped-over.element_N {
  background-image: image-url('nitrogen.png');
}

#game-board > div.flipped-over.element_Ne {
  background-image: image-url('neon.png');
}

#game-board > div.flipped-over.element_P {
  background-image: image-url('phosphorus.png');
}

#game-board > div.flipped-over.element_Ca {
  background-image: image-url('calcium.png');
}

#game-board > div.flipped-over.element_Li {
  background-image: image-url('lithium.png');
}

#game-board > div.flipped-over.element_Mg {
  background-image: image-url('magnesium.png');
}

#game-board > div.flipped-over.element_O {
  background-image: image-url('oxygen.png');
}

#game-board > div.flipped-over.element_K {
  background-image: image-url('potassium.png');
}

#game-board > div.flipped-over.element_Na {
  background-image: image-url('sodium.png');
}


#game-board > div.flipped {
  background-image: image-url('argon.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

#game-board > div.flipped-over {
  background-color: white;
}

